body {
  color: var(--primary-black-color);
  font-family: Roboto, sans-serif;
  font-weight: 500;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

:root {
  --primary-black-color: #212121;
  --second-black-color: #757575;
  --adress-links-color: rgba(255, 255, 255, 0.6);
  --white-text-color: #ffffff;
  --accent-color: #2196f3;
  --accent-color-transparent: rgba(33, 150, 243, 0.9);
  --background-white-team: #f5f4fa;
  --background-footer: #2f303a;
  --logo-black: #000000;
  --portfolio-buttons-filter-grey: #f5f4fa;
  --hero-bgd: #2f303a;
  --hero-bgd-transparent: rgba(47, 48, 58, 0.8);
  --active-hero-button: #188ce8;
  --clients: #afb1b8;
  --mob-menu: rgba(33, 33, 33, 0.2);
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.header {
  background-color: var(--white-text-color);
  border-bottom: 1px solid #ececec;
}

.header__container {
  padding-top: 10px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .header__container {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .header__container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.header__logo {
  margin-right: 0;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 93px;
  }
}

.header__group {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .header__group {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 10px;
  }
}
@media screen and (min-width: 768px) {
  .header__group {
    margin-left: auto;
  }
}

.header__item:first-child {
  margin-right: 50px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__item:first-child {
    margin: 0;
  }
}

.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: var(--second-black-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}

.header__contact:hover,
.header__contact:focus {
  color: var(--accent-color);
}

.header__icon {
  fill: var(--second-black-color);
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}
.header__contact:hover .header__icon, .header__contact:focus .header__icon {
  fill: var(--accent-color);
}

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  display: block;
}

.logo__dark {
  color: var(--logo-black);
}

.logo__light {
  color: var(--white-text-color);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (max-width: 767px) {
  .nav {
    display: none;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__item {
  position: relative;
  display: inline-block;
}
.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-black-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
.nav__link--current {
  color: var(--accent-color);
}
.nav__link--current::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background: var(--accent-color);
  border: 2px solid var(--accent-color);
  border-radius: 2px;
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--hero-bgd);
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../header/header-img_sm-@1x.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../header/header-img_sm-@1x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../header/header-img_sm-@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../header/header-img_sm-@2x.jpg);
  }
}
@media screen and (min-width: 481px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../header/header-img_md-@1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../header/header-img_md-@1x.jpg);
  }
}
@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../header/header-img_md-@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../header/header-img_md-@2x.jpg);
  }
}
@media screen and (min-width: 769px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../header/header-img_lg-@1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../header/header-img_lg-@1x.jpg);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../header/header-img_lg-@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../header/header-img_lg-@2x.jpg);
  }
}

.hero__header {
  color: var(--white-text-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  max-width: 360px;
  margin: 0 auto;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero__header {
    font-size: 44px;
    line-height: 1.36em;
    width: 696px;
  }
}

.hero__button {
  color: var(--white-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  font-family: inherit;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 24px;
  border-radius: 4px;
  border: none;
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
}
.hero__button:focus, .hero__button:hover {
  background-color: var(--active-hero-button);
}
@media screen and (min-width: 1200px) {
  .hero__button {
    padding: 10px 32px;
  }
}

.features {
  background-color: var(--white-text-color);
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .features__list {
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
  }
}
@media screen and (min-width: 1200px) {
  .features__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (min-width: 768px) {
  .features__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: 270px;
  }
}
.features__item::before {
  content: "";
  display: block;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--portfolio-buttons-filter-grey);
  border-radius: 4px;
  margin-bottom: 30px;
}
.features__item--icon-antenna::before {
  background-image: url(../images/antenna.svg);
}
.features__item--icon-clock::before {
  background-image: url(../images/clock.svg);
}
.features__item--icon-diagram::before {
  background-image: url(../images/diagram.svg);
}
.features__item--icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.features__title {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .features__title {
    text-align: left;
  }
}

.features__desc {
  color: var(--second-black-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.dealings {
  padding-top: 0;
  background-color: var(--white-text-color);
}
@media screen and (min-width: 320px) and (max-width: 1199px) {
  .dealings {
    display: none;
  }
}

.dealings__title {
  margin-bottom: 50px;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.dealings__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dealings__item {
  position: relative;
}

.dealings__thumb {
  position: absolute;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70px;
  width: 100%;
  background-color: var(--hero-bgd-transparent);
}

.dealings__desc {
  font-weight: 700;
  font-size: 14px;
  color: var(--white-text-color);
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.team {
  background-color: var(--background-white-team);
}

.team__title {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1200px) {
  .team__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.team__item {
  background-color: var(--white-text-color);
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .team__item {
    padding-bottom: 30px;
  }
}

.team__undertitle {
  margin-bottom: 10px;
  margin-top: 30px;
  text-align: center;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .team__undertitle {
    line-height: 1.18;
  }
}

.team__desc {
  margin-bottom: 16px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--second-black-color);
}
@media screen and (min-width: 1200px) {
  .team__desc {
    line-height: 1.18;
  }
}

.team__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color var(--animation), border-radius var(--animation), fill var(--animation);
  transition: background-color var(--animation), border-radius var(--animation), fill var(--animation);
}
.team__social-link:hover, .team__social-link:focus {
  background-color: var(--accent-color);
}

.team__icon {
  fill: var(--clients);
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}
.team__social-link:hover .team__icon, .team__social-link:focus .team__icon {
  fill: #fff;
}

.clients {
  background-color: var(--white-text-color);
}

.clients__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.clients__item {
  -ms-flex-preferred-size: calc((100% - 30px) / 2);
      flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 150px) / 6);
        flex-basis: calc((100% - 150px) / 6);
  }
}

.clients__link {
  height: 92px;
  border: 1px solid var(--clients);
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: fill var(--animation), border var(--animation);
  transition: fill var(--animation), border var(--animation);
}
.clients__link:hover, .clients__link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.clients__icon {
  fill: var(--clients);
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}
.clients__item:hover .clients__icon, .clients__item:focus .clients__icon {
  fill: var(--accent-color);
}

.footer {
  background-color: var(--background-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-direction: row;
        flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.footer__contacts {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer__contacts {
    margin-right: 165px;
    margin-left: 0;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__contacts {
    margin-right: 70px;
    margin-bottom: 0;
  }
}

.footer__logo {
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    text-align: left;
  }
}

.address {
  font-style: normal;
}

.address__item:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .address__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.address__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--adress-links-color);
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}
.address__link--location {
  color: var(--white-text-color);
}
.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.address__list {
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .address__list {
    -moz-text-align-last: left;
         text-align-last: left;
  }
}

.join {
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .join {
    margin: 0;
  }
}

.join__title {
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .join__title {
    text-align: left;
  }
}

.join__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.join__link {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: background-color var(--animation), border-radius var(--animation), fill var(--animation);
  transition: background-color var(--animation), border-radius var(--animation), fill var(--animation);
}
.join__link:hover, .join__link:focus {
  background-color: var(--accent-color);
}

.join__icon {
  fill: var(--white-text-color);
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}
.join__link:hover .join__icon, .join__link:focus .join__icon {
  fill: var(--white-text-color);
}

.subscribe {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .subscribe {
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe {
    margin-right: 0;
  }
}

.subscribe__title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .subscribe__title {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .subscribe__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.subscribe__form-label {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .subscribe__form-label {
    margin-right: 12px;
  }
}

.subscribe__form-input {
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  color: var(--white-text-color);
  outline: transparent;
}
.subscribe__form-input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}
.subscribe__form-input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}
.subscribe__form-input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}
.subscribe__form-input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}
.subscribe__form-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 786px) {
  .subscribe__form-input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__form-input {
    width: 358px;
  }
}

.subscribe__icon {
  margin-left: 10px;
}

.subscribe__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  border-radius: 4px;
  min-width: 200px;
  padding: 10px 28px;
  background-color: var(--accent-color);
  color: var(--white-text-color);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 20px;
}
@media screen and (min-width: 786px) {
  .subscribe__btn {
    margin: 0;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition: opacity var(--animation);
  transition: opacity var(--animation);
  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  width: 300px;
  background-color: #fff;
  border-radius: 4px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: scale var(--animation), translate var(--animation);
  transition: scale var(--animation), translate var(--animation);
}
@media screen and (max-width: 1199px) {
  .modal {
    max-width: 450px;
  }
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #fff;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  border-radius: 50%;
}

.modal-btn-icon {
  fill: var(--logo-black);
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}
.modal-btn:hover .modal-btn-icon, .modal-btn-icon:focus {
  fill: var(--accent-color);
}

.register-form-group {
  margin-bottom: 20px;
}

.register-form-title {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.register-form-agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.register-form-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--white-text-color);
  display: block;
  padding: 10px 52px;
  margin: 0 auto;
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: background-color var(--animation);
  transition: background-color var(--animation);
  cursor: pointer;
  border: none;
}
.register-form-btn:hover, .register-form-btn:focus {
  background-color: var(--active-hero-button);
}

.register-form-field {
  display: block;
}
.register-form-field:not(:last-child) {
  margin-bottom: 10px;
}

.register-form-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--second-black-color);
  margin-bottom: 4px;
}

.register-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-right: 36px;
  padding-left: 36px;
  outline: transparent;
  -webkit-transition: border-color var(--animation), fill var(--animation);
  transition: border-color var(--animation), fill var(--animation);
}
.register-form-input:focus, .register-form-input:hover {
  border-color: var(--accent-color);
}

.register-form-message {
  display: block;
  resize: none;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  -webkit-transition: border-color var(--animation);
  transition: border-color var(--animation);
}
.register-form-message:focus, .register-form-message:hover {
  border-color: var(--accent-color);
}

.register-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}
.register-form-input:focus + .register-form-icon, .register-form-input:hover + .register-form-icon {
  fill: var(--accent-color);
}

.register-form-field {
  position: relative;
}

.icon-check {
  opacity: 0;
  -webkit-transition: opacity var(--animation);
  transition: opacity var(--animation);
}
.register-form-checkbox:checked + .register-form-icons .icon-check {
  opacity: 1;
}

.icon-uncheck {
  opacity: 1;
  -webkit-transition: opacity var(--animation);
  transition: opacity var(--animation);
}
.register-form-checkbox:checked + .register-form-icons .icon-uncheck {
  opacity: 0;
}

.register-form-desc {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-left: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-black-color);
}
@media screen and (min-width: 1200px) {
  .register-form-desc {
    font-size: 14px;
  }
}

.register-form-link {
  color: var(--accent-color);
}

.portfolio-section {
  background-color: var(--white-text-color);
}

.filter-buttons {
  background-color: var(--background-white-team);
  cursor: pointer;
  font-family: inherit;
  font-weight: inherit;
}

.port-link {
  -webkit-transition: -webkit-box-shadow var(--animation);
  transition: -webkit-box-shadow var(--animation);
  transition: box-shadow var(--animation);
  transition: box-shadow var(--animation), -webkit-box-shadow var(--animation);
  display: block;
}
.port-link:hover, .port-link:focus {
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .port-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px 8px;
}
@media screen and (min-width: 768px) {
  .filter {
    margin-bottom: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 38px;
  }
}
@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

.filter-buttons {
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: none;
  padding: 6px 25px;
  -webkit-transition: color var(--animation), background-color var(--animation), -webkit-box-shadow var(--animation);
  transition: color var(--animation), background-color var(--animation), -webkit-box-shadow var(--animation);
  transition: color var(--animation), background-color var(--animation), box-shadow var(--animation);
  transition: color var(--animation), background-color var(--animation), box-shadow var(--animation), -webkit-box-shadow var(--animation);
}
.filter-buttons:hover, .filter-buttons:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 1200px) {
  .filter-buttons {
    padding: 6px 22px;
  }
}

.team-thumb {
  position: relative;
  overflow: hidden;
}

.team-thumb img {
  width: 100%;
}

.overlay-port {
  position: absolute;
  top: 1px;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px;
  width: 101%;
  height: 100%;
  -webkit-transition: -webkit-transform var(--animation);
  transition: -webkit-transform var(--animation);
  transition: transform var(--animation);
  transition: transform var(--animation), -webkit-transform var(--animation);
  background-color: var(--accent-color-transparent);
}
.port-cards:hover .overlay-port {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.overlay-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  text-align: left;
  color: #ffffff;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.port-cards {
  background-color: var(--white-text-color);
  width: 100%;
  -webkit-transition: -webkit-box-shadow var(--animation);
  transition: -webkit-box-shadow var(--animation);
  transition: box-shadow var(--animation);
  transition: box-shadow var(--animation), -webkit-box-shadow var(--animation);
}
.port-cards:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .port-cards {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .port-cards {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}

.card-border {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card-border {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.title-cards {
  margin-bottom: 4px;
  color: var(--primary-black-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.subtitle-cards {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-black-color);
}

.menu-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  padding: 0;
  margin-left: auto;
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 400ms;
  transition: 400ms;
}
.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 10px;
}

.mob-item {
  color: var(--accent-color);
}

.mob-item:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid var(--mob-menu);
}

.mobile-item {
  -webkit-transition: color var(--animation);
  transition: color var(--animation);
}

.mobile-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-item:hover {
  color: var(--accent-color);
}

.menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: none;
  -webkit-transition: fill var(--animation);
  transition: fill var(--animation);
}

.menu-toggle:hover {
  fill: var(--accent-color);
}

.mobile-menu {
  margin-bottom: auto;
}

.mobile-item {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--primary-black-color);
}

.mobile-item:not(:last-child) {
  margin-right: 20px;
}

.mob-email {
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-align: left;
  margin-bottom: 64px;
  color: var(--second-black-color);
}

.mob-number {
  font-size: 34px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  line-height: 1.17;
  margin-bottom: 32px;
}

.current {
  color: var(--accent-color);
}/*# sourceMappingURL=main.css.map */